@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
* {
  cursor: url("/cursors/aero.cur"), auto;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, #d7d9d4 0%, #878c7d 100%);
}

.background-div {
  border: 1px solid rgba(255,255,255,.1);
  width: 10em;
  height: 10em;
  transform: rotate(45deg);
  margin: 2em;
  position: absolute;
  background: linear-gradient(135deg, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
  z-index: -1;
  pointer-events: none;
}

.background-container {
  z-index: -1;
}

a:hover {
  cursor: url("/cursors/cross.cur"), auto;
}
/* Root Variables */
:root {
  /* Main Variables */
  --color-background: #d7d9d4;
  --color-primary: #000000;
  --color-secondary: #c7c7c7;
  --color-text: #000000;
  --color-primary-foreground: #000000;
  --color-secondary-foreground: #000000;
  --radius: 0.5rem;
  --color-divs: #6D8885;

  /* Sidebar Variables */
  --sidebar-background: hsl(77, 6%, 76%);
  --sidebar-foreground: hsl(41, 36%, 75%);
  --sidebar-primary: hsl(5, 53%, 32%);
  --sidebar-primary-foreground: hsl(0, 0%, 0%);
  --sidebar-accent: hsl(213, 22%, 92%);
  --sidebar-accent-foreground: hsl(41, 36%, 75%);
  --sidebar-border: hsl(5, 53%, 32%);
  --sidebar-ring: hsl(217.2, 91.2%, 59.8%);
  --sidebar-hover: hsl(210, 20%, 96%);
  --sidebar-hover-foreground: hsl(3, 51%, 8%);
}

/* Base Styles */
@layer base {
  html,
  body {
    @apply font-body text-secondary m-0 p-0;
  }

  p {
    @apply text-text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-primary;
  }

  a {
    @apply text-foreground;
  }

  a:hover {
    @apply text-foreground;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding: 300px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


