@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body, * {
  cursor: url('/cursors/aero.cur'), auto;
}
a:hover {
  cursor: url('/cursors/cross.cur'), auto;
}
/* Root Variables */
:root {
  /* Main Variables */
  --color-background: #D7D9D4;
  --color-primary: #1F0B0A;
  --color-secondary: #C7C7C7;
  --color-text: #1F0B0A ;
  --color-primary-foreground: #000000;
  --color-secondary-foreground: #000000;
  --radius: 0.5rem;

  /* Sidebar Variables */
  --sidebar-background: hsl(77, 6%, 76%);
  --sidebar-foreground: hsl(41, 36%, 75%);
  --sidebar-primary: hsl(5, 53%, 32%);
  --sidebar-primary-foreground: hsl(0, 0%, 0%);
  --sidebar-accent: hsl(213, 22%, 92%);
  --sidebar-accent-foreground: hsl(41, 36%, 75%);
  --sidebar-border: hsl(5, 53%, 32%);
  --sidebar-ring: hsl(217.2, 91.2%, 59.8%);
  --sidebar-hover: hsl(210, 20%, 96%);
  --sidebar-hover-foreground: hsl(3, 51%, 8%);
}


/* Base Styles */
@layer base {
  html,
  body {
    @apply font-body text-primary bg-background m-0 p-0;

  }

  p {
    @apply text-text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-primary;
  }

  a {
    @apply text-foreground;
  }

  a:hover {
    @apply text-foreground;
  }

  html {
    scroll-behavior: smooth;
  }
}


/* Sidebar Hover */

.group:hover .sidebar-hover-area {
  width: 3rem;
}

.sidebar-hover-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  transition: width 0.3s;
}

.sidebar-arrow-indicator {
  position: fixed;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  pointer-events: none;
}




/* MAIN */

